.products {

    @include media-breakpoint-down(md) {
        padding: 7rem 1.6rem 0;
    }

    .contact-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        // margin-top: 29.5rem;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            justify-content: center;
            // margin-top: 35rem;
            padding: 0 1.6rem;
        }

        .web {
            display: flex;
            align-items: center;
            height: 6.2rem;
            padding: 0 2.4rem;
            background-color: $systemYellow;
            font-size: 1.6rem;
            font-weight: 600;
            color: $secondaryLabel;
            text-decoration: none;

            @include media-breakpoint-down(md) {
                font-size: 1.4rem;
            }
        }

        .social {
            display: flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                font-size: 1.4rem;
                width: 100%;
                justify-content: space-between;
                margin-top: -14rem;
            }

            h3 {
                font-size: 1.4rem;
                font-weight: 600;
                color: $secondaryLabel;
                margin-right: 0.2rem;
            }

            .social-icons {
                display: flex;
                align-items: center;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3.6rem;
                    height: 3.6rem;
                    border-radius: 50%;
                    margin-left: 1rem;
                    border: 0;
                    background-color: $secondaryLabel;

                    @include media-breakpoint-down(md) {
                        width: 2.6rem;
                        height: 2.6rem;
                    }

                    img {
                        @include media-breakpoint-down(md) {
                            width: 1.4rem;
                            height: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    .label {
        display: flex;
        flex-direction: column;
        margin-top: 12rem;

        .title {
            display: flex;

            h1 {
                font-size: 3.6rem;
                font-weight: 700;
                color: $secondaryLabel;
                margin: 0;
                white-space: nowrap;

                @include media-breakpoint-down(md) {
                    font-size: 2.5rem;
                }
            }

            .c-red {
                font-weight: 600;
                color: $systemRed;
            }
        }

        p {
            font-size: 1.4rem;
            font-weight: 400;
            color: $secondaryLabel;
            line-height: 2.5rem;
            margin: 1.7rem 0 3.5rem;

            @include media-breakpoint-down(md) {
                font-size: 1.2rem;
                line-height: 1.8rem;
                margin: 0.8rem 0 3rem;
            }
        }
    }

    .scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        button {
            flex: 0 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 6.2rem;
            padding: 0 2.5rem;
            margin-right: 1.5rem;
            text-decoration: none;
            border: 0.1rem solid;
            outline: 0;
            background-color: transparent;
            box-shadow: inset 0 0 0 0.09px transparent;
            transition: box-shadow 0.25s;
            cursor: pointer;

            @include media-breakpoint-down(md) {
                padding: 0 1.5rem;
            }

            img {
                height: 3.3rem;
                margin-right: 0.6rem;
            }

            h2 {
                font-size: 1.8rem;
                font-weight: 600;
                color: $secondaryLabel;

                @include media-breakpoint-down(md) {
                    font-size: 1.6rem;
                }
            }
        }

        button:nth-child(1) { border-color: $systemMint; &:hover, &:active, &:focus { box-shadow: inset 18rem 0 0 0 $systemMint; } }
        button:nth-child(2) { border-color: $systemGreen; &:hover, &:active, &:focus { box-shadow: inset 18rem 0 0 0 $systemGreen; } }
        button:nth-child(3) { border-color: $systemPink; &:hover, &:active, &:focus { box-shadow: inset 18rem 0 0 0 $systemPink; } }
        button:nth-child(4) { border-color: $systemTeal; &:hover, &:active, &:focus { box-shadow: inset 18rem 0 0 0 $systemTeal; } }
        button:nth-child(5) { border-color: $systemPurple; &:hover, &:active, &:focus { box-shadow: inset 18rem 0 0 0 $systemPurple; } }
        button:nth-child(6) { border-color: $systemBlue; &:hover, &:active, &:focus { box-shadow: inset 18rem 0 0 0 $systemBlue; } }
        button:nth-child(7) { border-color: $systemOrange; margin-right: 0; &:hover, &:active, &:focus { box-shadow: inset 18rem 0 0 0 $systemOrange; } }


    }

    .scroll::-webkit-scrollbar {
        display: none;
        background: transparent;
    }
    .scroll::-webkit-scrollbar-thumb {
        background: transparent;
    }
}