.three {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 12rem;

    @include media-breakpoint-down(md) {
        padding-top: 8.5rem;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-top: 12rem;

        @include media-breakpoint-down(md) {
            // margin-top: 8.5rem;
            padding: 0 1.6rem;
        }

        h1 {
            font-size: 7rem;
            font-weight: 700;
            color: $primaryLabel;
            margin: 0;

            @include media-breakpoint-down(md) {
                font-size: 3rem;
            }
        }

        .title-next {
            display: flex;
        }

        .c-red {
            color: $systemRed;
        }

        .subtitle {
            font-size: 3rem;
            font-weight: 400;
            color: $secondaryLabel;
            margin-top: 1.5rem;

            @include media-breakpoint-down(md) {
                font-size: 1.6rem;
                margin-top: 1.1rem;
            }
        }
    }

    .contact-outer {
        position: absolute;
        top: calc(100vh - 72px);
        width: 100%;
        padding: 0 10%;
    }

    .contact-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            justify-content: center;
            margin-top: 35rem;
            padding: 0 1.6rem;
        }

        .web {
            display: flex;
            align-items: center;
            height: 6.2rem;
            padding: 0 2.4rem;
            background-color: $systemYellow;
            font-size: 1.6rem;
            font-weight: 600;
            color: $secondaryLabel;
            text-decoration: none;

            @include media-breakpoint-down(md) {
                font-size: 1.4rem;
            }
        }

        .social {
            display: flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                font-size: 1.4rem;
                width: 100%;
                justify-content: space-between;
                margin-top: -14rem;
            }

            h3 {
                font-size: 1.4rem;
                font-weight: 600;
                color: $secondaryLabel;
                margin-right: 0.2rem;
            }

            .social-icons {
                display: flex;
                align-items: center;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3.6rem;
                    height: 3.6rem;
                    border-radius: 50%;
                    margin-left: 1rem;
                    border: 0;
                    background-color: $secondaryLabel;

                    @include media-breakpoint-down(md) {
                        width: 2.6rem;
                        height: 2.6rem;
                    }

                    img {
                        @include media-breakpoint-down(md) {
                            width: 1.4rem;
                            height: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}