// Custom


// Color schema

$systemRed:         #ED1C24;
$systemOrange:      #F1A919;
$systemYellow:      #ECC53B;
$systemMint:        #60C2A9;
$systemTeal:        #548CA7;
$systemGreen:       #BEE46C;
$systemPink:        #FF7C7C;
$systemPurple:      #9D48F2;
$systemBlue:        #498EF4;

$white:             #FFFFFF;
$black:             #000000;

$primaryBackground: #F4F7FF;

$primaryLabel:      #282141;
$secondaryLabel:    #28223F;
$tertiaryLabel:     rgba(7, 6, 6, 0.25);


// Default colors

$primaryTint:         $systemRed;