// Global

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: "Barlow", Helvetica, Arial, sans-serif !important;
}

body {
    font-family: "Barlow", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    // display: flex;
    // flex: 1;
    background-color: $primaryBackground;
}

.container {
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}