/* Error: Undefined mixin.
 *   ,
 * 4 | /     @include media-breakpoint-down(md) {
 * 5 | |         padding: 12.5rem 1.6rem 0;
 * 6 | \     }
 *   '
 *   scss/pages/home/products.scss 4:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502  \250c      @include media-breakpoint-down(md) {\a 5 \2502  \2502          padding: 12.5rem 1.6rem 0;\a 6 \2502  \2514      }\a   \2575 \a   scss/pages/home/products.scss 4:5  root stylesheet";
}
